.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
}
hmtl,
body {
  width: 100%;
  height: 100%;
}

/* Custom, iPhone Retina  */
/* @media only screen and (min-width: 320px) {
} */

/* Extra Small Devices, Phones */
/* @media only screen and (min-width: 480px) {
} */

/* Small Devices, Tablets */
/* @media only screen and (min-width: 768px) {
} */

/* Medium Devices, Desktops */
/* @media only screen and (min-width: 992px) {
} */

/* Large Devices, Wide Screens */
/* @media only screen and (min-width: 1200px) {
}  */

.logo {
  text-align: left;
  margin-left: 1em;
}

.logo a {
  font-size: 2em;
}

.logo-img {
  height: 64px;
  width: auto;
  vertical-align: middle;
}

.nav-img {
  background-color: #fff;
  width: 100vw;
  display: flex;
}

.home {
  background-image: url('paul-gilmore-KT3WlrL_bsg-unsplash.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1000;
  padding-top: 2em;
  padding-bottom: 2em;
  /* width: 100vw;
  height: 100vh;
  position: absolute; */
}

.welcome {
  background-image: url('DSC073482.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
  padding-top: 2em;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.space {
  width: 100vw;
  height: 100vh;
}

.Footer {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.6em;
  padding: 0.1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Footer a {
  text-decoration: none;
  color: rgb(48, 136, 21);
}

.Footer a:nth-child(1) {
  margin-left: 5em;
}
.Footer a:nth-child(2) {
  margin-left: 1em;
}

.Footer a:nth-child(3) {
  margin-left: 3em;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  z-index: -1000;
  color: white;
}
.about-container h1 {
  margin: 0.7em;
}

.support-container {
  display: flex;
  flex-direction: column;
  z-index: -1000;
  padding: 1em;
  color: white;
}

.support-container h1 {
  text-align: center;
  margin: 1em;
}

.DSGVO {
  margin: 2em;
  text-align: left;
  max-width: 90%;
  z-index: -1000;
}
.DSGVO h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.DSGVO a {
  text-decoration: none;
}

.DSGVO ul li {
  margin-left: 2em;
}

.impress {
  margin: 2em;
  z-index: -1000;
}
.impress h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.impress a {
  text-decoration: none;
}

.form-container {
  margin-top: 1em;
  z-index: -1000;
}

.create-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.create-project input {
  width: 40%;
}

.create-btn {
  padding: 0.3em;
  background-color: lightblue;
  border-radius: 3px;
  border-style: none;
  margin: 0.4em;
}

.overview-container {
  margin: 2em;
}

.project-container {
  z-index: -1000;
}

.project-container a img {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  z-index: -1000;
}

.detail-container h2 {
  text-align: center;
  margin: 1em;
  margin-top: 2.5em;
}

.detail-container img {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.detail-container p {
  margin: 2em 2em;
  word-wrap: break-word;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#created {
  text-align: center;
  margin-bottom: 3em;
}

.login {
  width: 40vw;
  margin: 4em auto;
}

#username,
#password {
  height: 36px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 6px;
  text-indent: 10px;
  font-size: 12px;
  border-style: 1px solid black;
}

button {
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: 2px solid navy;
  background-color: lightlavender;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}

.box {
  position: relative;
  margin: 0 5em 5em 5em;
  /* background-color: rgba(48, 136, 21, 255); */
  border-radius: 6px;
}

.projectImg {
  opacity: 1;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  border-radius: 6px;
  z-index: -10;
}

.project-title {
  background-color: transparent;
  margin: 0.2em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 5em;
}

.project-heading {
  margin: 2em;
  margin-left: 25%;
}

.project-heading a {
  text-decoration: none;
  color: #000;
  font-size: 28px;
}

.mask {
  /* transition: 0.5s ease; */
  /* background-color: rgba(48, 136, 21, 255); */
  border-radius: 8px;
  /* opacity: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /* white-space: nowrap; */
}

.mask p {
  text-align: center;
}

/* .box:hover .projectImg {
  opacity: 0.5;
}

.box:hover .mask {
  opacity: 1;
} */

.link {
  color: #fff;
  opacity: 1;
  background-color: transparent;
  text-decoration: none;
}
.link p {
  font-size: 20px;
}

.link-without-image p {
  color: #fff;
  font-size: 1em;
}

.project_title {
  word-wrap: break-word;
}

.paypal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-btn {
  background-color: #0070ba;
  border-radius: 1.5rem;
  border: 0.0625rem solid #0070ba;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9375rem;
  font-family: 'PayPalSansSmall-Regular', Helvetica Neue, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: normal;
  font-weight: 700;
  min-width: 6rem;
  padding: 0.6875rem 1.4375rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease, box-shadow 0.2s ease;
  margin: 1em;
}

/*NAV*/
.nav {
  height: 1em;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
}

.nav > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  background-color: rgba(48, 136, 21, 255);
  padding: 0.15em 0.4em;
  border-radius: 0.7em;
  line-height: 2em;
  margin: 2em 3em 2em 0;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.motivation {
  margin-left: 2em;
  margin-top: 1em;
}

.motivation li {
  list-style: none;
  padding: 0.3em;
  text-align: center;
}

.motivation li a {
  color: white;
}

@media (max-width: 500px) {
  * {
    font-size: 16px;
  }
  .logo a {
    font-size: 24px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(48, 136, 21, 255);
    border-radius: 5px;
    z-index: 999;
  }
  .nav > .nav-btn > label {
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav > .nav-btn > label > span {
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: #fff;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 99;
  }
  .nav > .nav-links > a {
    display: block;
    padding-left: 2em;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .nav #nav-check:checked ~ .nav-btn > label > .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: all 0.3s ease;
  }

  .nav #nav-check:checked ~ .nav-btn > label > .line2 {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .nav #nav-check:checked ~ .nav-btn > label > .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.3s ease;
  }

  .projectImg {
    width: 100%;
  }
  .detail-container img {
    width: 80%;
  }
  .detail-container p {
    width: 80%;
    margin-bottom: 2em;
  }
  .link p {
    font-size: 14px;
  }
  .project-heading {
    margin: 0.5em;
    margin-left: 2em;
  }
  .project-heading a {
    font-size: 16px;
  }
  .support-container {
    font-size: 26px;
  }
  .paypal {
    margin: 2em;
  }
}
