.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
}
hmtl,
body {
  width: 100%;
  height: 100%;
}

/* Custom, iPhone Retina  */
/* @media only screen and (min-width: 320px) {
} */

/* Extra Small Devices, Phones */
/* @media only screen and (min-width: 480px) {
} */

/* Small Devices, Tablets */
/* @media only screen and (min-width: 768px) {
} */

/* Medium Devices, Desktops */
/* @media only screen and (min-width: 992px) {
} */

/* Large Devices, Wide Screens */
/* @media only screen and (min-width: 1200px) {
}  */

.logo {
  text-align: left;
  margin-left: 1em;
}

.nav-img {
  padding-top: 1em;
  background-image: url('paul-gilmore-KT3WlrL_bsg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

/* .nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  background-color: rgba(48, 136, 21, 255);
  padding: 0.15em 0.4em;
  border-radius: 0.7em;
  line-height: 70px;
  margin: 2em 0 2em 0;
} */

.home {
  background-image: url('IMG_2675.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.Footer {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.8em;
  padding: 0.1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Footer a {
  text-decoration: none;
  color: rgb(48, 136, 21);
}

.Footer a:nth-child(1) {
  margin-left: 5em;
}
.Footer a:nth-child(2) {
  margin-left: 1em;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 2em;
  padding: 1em;
  z-index: -1000;
}
.about-container h1 {
  margin: 0.7em;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4em;
  z-index: -1000;
}

.history-heading {
  text-align: center;
  margin-top: 3em;
}

.history-container li {
  line-height: 2em;
}

.support-container {
  display: flex;
  flex-direction: column;
  margin: 2em;
  z-index: -1000;
}

.support-container h1 {
  text-align: center;
  margin: 1em;
}

.DSGVO {
  margin: 2em;
  text-align: left;
  max-width: 90%;
  z-index: -1000;
}
.DSGVO h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.DSGVO a {
  text-decoration: none;
}

.DSGVO ul li {
  margin-left: 2em;
}

.impress {
  margin: 2em;
  z-index: -1000;
}
.impress h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.impress a {
  text-decoration: none;
}

.form-container {
  margin-top: 1em;
  z-index: -1000;
}

.create-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.create-project input {
  width: 40%;
}

.create-btn {
  padding: 0.3em;
  background-color: lightblue;
  border-radius: 3px;
  border-style: none;
  margin: 0.4em;
}

.project-container {
  z-index: -1000;
}

.project-container a img {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  z-index: -1000;
}

.detail-container h2 {
  text-align: center;
  margin: 1em;
}

.detail-container img {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.detail-container p {
  margin: 0.75em 2em;
  word-wrap: break-word;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#created {
  text-align: center;
  margin-bottom: 3em;
}

.login {
  width: 40vw;
  margin: 4em auto;
}

#username,
#password {
  height: 36px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 6px;
  text-indent: 10px;
  font-size: 12px;
  border-style: 1px solid black;
}

button {
  height: 40px;
  padding: 0 16px;
  border-radius: 6px;
  border: 2px solid navy;
  background-color: lightlavender;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}

.box {
  position: relative;
  margin: 5em;
  /* background-color: rgba(48, 136, 21, 255); */
  border-radius: 6px;
}

.projectImg {
  opacity: 1;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  border-radius: 6px;
}

.project_title {
  background-color: transparent;
  margin: 0.2em;
  padding-bottom: 1em;
  font-weight: bold;
}

.mask {
  transition: 0.5s ease;
  background-color: rgba(48, 136, 21, 255);
  /* padding: 6.5em 12.5em; */
  padding: 13.5em 21.2em;
  border-radius: 8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  line-height: 2em;
}

.box:hover .projectImg {
  opacity: 0.5;
}

.box:hover .mask {
  opacity: 0.5;
}

.link {
  background-color: rgba(48, 136, 21, 255);
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
}

.paypal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-btn {
  background-color: #0070ba;
  border-radius: 1.5rem;
  border: 0.0625rem solid #0070ba;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9375rem;
  font-family: 'PayPalSansSmall-Regular', Helvetica Neue, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: normal;
  font-weight: 700;
  min-width: 6rem;
  padding: 0.6875rem 1.4375rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease, box-shadow 0.2s ease;
  margin: 1em;
}

@media screen and (max-width: 500px) {
  .projectImg {
    width: 100%;
  }
  .detail-container img {
    width: 80%;
  }
  .detail-container p {
    width: 80%;
  }
  .mask {
    padding: 1.8em 3.8em;
  }
  .home {
    background-image: url('DSC073482.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
}

/*NAV*/
.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  background-color: rgba(48, 136, 21, 255);
  padding: 0.15em 0.4em;
  border-radius: 0.7em;
  line-height: 2em;
  margin: 2em 3em 2em 0;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 500px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
